:root {
  --primary: #fcc822;
  --font-color: #333333;
}

body {
  color: var(--font-color);
}

.btn {
  border-radius: 0;
}

.navbar-item a:hover {
  color: var(--primary);
}

.active {
  color: var(--primary);
  border-bottom: 2px var(--primary) solid;
}
